#circle {
    height: 319px;
    width: 319px;
    background: papayawhip;
    left: 1%;
    top: 11%;
    position: fixed;
    z-index: -10;
    border-radius: 120px 10px 120px 10px;

}

#circle2 {
    height: 520px;
    width: 520px;
    background: rgb(217, 236, 173);
    left: 58%;
    top: -10%;
    position: fixed;
    z-index: -1;
    border-radius: 120px 10px 120px 10px;

}

#circle3 {
    height: 390px;
    width: 390px;
    background: rgb(180, 187, 245);
    left: 4%;
    top: 83%;
    position: fixed;
    z-index: -2;
    border-radius: 120px 10px 120px 10px;

}
#circle4{
    height: 399px;
    width: 399px;
    background: papayawhip;
    left: 45%;
    top: 60%;
    position: fixed;
    z-index: -3;
    margin-bottom: 300px;
    border-radius: 120px 10px 120px 10px;

}

#circle5{
    height: 220px;
    width: 220px;
    background: rgb(138, 174, 240);
    left: 91%;
    top: 68%;
    position: fixed;
    z-index: -3;
    margin-bottom: 300px;
    border-radius: 120px 10px 120px 10px;

}
a{
    color: cornflowerblue;
  font-style: italic;
}
h2 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    color: cornflowerblue;
    position: absolute;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#header2-1{
    margin-left: 4%;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-top: -28px;
}

p {
    
    margin-left: 4.5%;
    color: rgb(32, 57, 141);
    font-weight: normal;
    text-transform: none; 
    font-style: normal;
    line-height: 20px;
    letter-spacing: normal;
    text-decoration: none;
    font-size: small;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
strong {
    font-weight: normal;
}
body {
    background-image: linear-gradient(to right, pink, papayawhip);
}
img{
    border: 7px  rgb(217, 236, 173);
    border-style: solid;
}
#textchunk1 {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
    width: 85%;
}

#textchunk2{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
    width: 85%;
}

#textchunk3{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    position: relative;
    width: 85%;
}

.img1{
    position: relative;
    left: 4%;
    border-radius: 8px;

}

.img2{
    position: relative;
    left: 4%;
   top: 10px;
    border-radius: 8px;

}

#header2-2{
    margin-left: 4%;
    margin-right: 10px;
    margin-bottom: 30px;
    margin-top: 10px;
    position: relative;
    width: 85%;
}

#textchunk4{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 100px;
    margin-bottom: 30px;
    position: relative;
    width: 85%;
}

#textchunk5{
    position: relative;
    width: 85%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#textchunk6{
    position: relative;
    width: 85%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.img3{
    position: relative;
    left: 4%;
    border-radius: 8px;

}

.img4{
    position: relative;
    left: 4%;
   top: 10px;
    border-radius: 8px;

}

#header2-3{
    margin-left: 4%;
    margin-right: 10px;
   
    margin-bottom: 30px;
    margin-top: 10px;    
    position: relative;
    width: 85%;
}

#textchunk7{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 70px;
    margin-bottom: 30px;
    position: relative;
    width: 85%;
}

#textchunk8{
    position: relative;
    width: 85%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#textchunk9{
    position: relative;
    width: 85%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.img5{
    position: relative;
    left: 4%;
    border-radius: 8px;

}

.img6{
    position: relative;
    left: 4%;
   top: 10px;
    border-radius: 8px;

}

#header2-4{
    margin-left: 4%;
    margin-right: 10px;
   
    margin-bottom: 30px;
    margin-top: 10px;
    position: relative;
    width: 85%;
}

#textchunk10{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 70px;
    margin-bottom: 30px;
    position: relative;
    width: 85%;
}

#textchunk11{
    position: relative;
    width: 85%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 50px;

}

#textchunk12{
    position: relative;
    width: 85%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: -10px;
    margin-bottom: 30px;
}

.img7{
    position: relative;
    left: 4%;
    border-radius: 8px;

}

.img8{
    position: relative;
    left: 4%;
   top: 10px;
    margin-bottom: 50px;

}

.img-corners{
    border-radius: 120px 10px 120px 10px;
}